<!-- templates/repo.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{{.Repo.Name}} - Git Server</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    {{template "navbar" dict 
        "User" .User 
        "Title" .Repo.Name 
        "RepoName" .Repo.Name 
        "Path" .Path 
        "ShowBranches" (not .IsEmpty)
        "Branches" .Branches 
        "CurrentBranch" .Branch
    }}

    <main>
        {{if .IsEmpty}}
        <div class="empty-repo">
            <h2>Empty Repository</h2>
            <p>This repository is empty. To get started, clone this repository and push your first commit:</p>
            <pre class="command-block">
git clone {{.Repo.CloneURL}}
cd {{.Repo.Name}}
# make some changes
git add .
git commit -m "Initial commit"
git push origin main</pre>
        </div>
        {{else}}
        <div class="repo-content">
            <div class="file-browser">
                <table class="files">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Last Commit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{if .Path}}
                        <tr>
                            <td><a href="/repo/{{.Repo.Name}}/{{dir .Path}}">..</a></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {{end}}
                        {{range .Entries}}
                        <tr>
                            <td>
                                {{if eq .Type "tree"}}
                                <a href="/repo/{{$.Repo.Name}}/{{.Path}}"><i class="fa-regular fa-folder"></i> {{.Name}}/</a>
                                {{else}}
                                <a href="/file/{{$.Repo.Name}}/{{.Path}}"><i class="{{getFileIcon .Name}}"></i> {{.Name}}</a>
                                {{end}}
                            </td>
                            <td>{{if ne .Type "tree"}}{{formatSize .Size}}{{end}}</td>
                            <td>{{firstLine .Message}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>

            <div class="commit-history">
                <h2>Recent Commits</h2>
                <div class="commits">
                    {{range .Commits}}
                    <div class="commit">
                        <div class="commit-header">
                            <a href="/commit/{{$.Repo.Name}}/{{.Hash}}" class="commit-hash">{{slice .Hash 0 7}}</a>
                            <span class="commit-author">{{.Author}}</span>
                            <span class="commit-date">{{.Timestamp | formatDate}}</span>
                        </div>
                        <div class="commit-message">{{firstLine .Message}}</div>
                    </div>
                    {{end}}
                </div>
                <div class="clone-instructions">
                    <h2>Clone Repository</h2>
                    <pre class="command-block">git clone {{.Repo.CloneURL}}</pre>
                </div>
            </div>
        </div>
        {{end}}
    </main>
</body>
</html>